body {
    background: #eee;
    font-family: 'Staatliches',
        cursive;
}

header {
    display: flex;
    background: orange;
}

header div {
    flex: 0 1 auto;
    padding: 1em 2em;
}

header div:last-child {
    font-family: 'Staatliches', cursive;
    font-size: 4em;
    color: darkorchid;
    text-shadow: 2px 2px 1px white,
        2px -2px 1px white,
        -2px 2px 1px white,
        -2px -2px 1px white;
}

main {
    width: 80%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    background: #eee;
}



main div {
    padding: .5em;
    margin: 4px 0;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 17px gray;
    display: flex;
    background: white;
}

input {
    display: block;
    margin-bottom: 1em;
}

section {
    flex: 0 1 auto;
    padding-right: 1em;
}

img {
    width: 85px;
    height: auto;
}